.inline-1 {
  padding: 16px 0;
}

.inline-2 {
  margin-top: 16px;
}

.inline-3 {
  border: none;
}

.inline-4 {
  margin-bottom: 2rem;
}

.inline-5 {
  margin-top: 2rem;
}

.inline-6 {
  border-bottom: none;
}

.inline-7 {
  padding: 0 1rem;
}

.inline-8 {
  margin-top: 6px;
  margin-right: 15px;
}
